In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, poojitha
You are from tirupati
You are 21 years old.
Your rate is 9.0

In [2]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Poojitha"
print("Name:", name)
name, age, city = "Poojitha", 21, "Tirupati"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Poojitha
Name: Poojitha Age: 21 City: Tirupati

In [3]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

A-B
Hello!

In [4]:
name = "Poojitha"
age = 21
print(f"{name} is {age} years old.")

Poojitha is 21 years old.

In [5]:
print("{} scored {} marks.".format("Poojitha", 95))
print("{1} is {0} years old.".format(21, "Jerry"))

Poojitha scored 95 marks.
Jerry is 21 years old.

In [6]:
x = 10
print(type(x))

<class 'int'>

In [7]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [8]:
y = 3.5
print((y))  # example

3.5

In [9]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [10]:
z = 1 + 2j
print((z))  # example

(1+2j)

In [11]:
n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [12]:
n = None
print((n))  # example

None

In [13]:
s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [14]:
s = "Python"
print((s))  # exmple

Python

In [15]:
flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [16]:
flag = True
print((flag))  # example

True

In [17]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [19]:
fruits = ["apple", "banana", "cherry"]
print((fruits))  # example

['apple', 'banana', 'cherry']

In [20]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [21]:
point = (3, 5)
print((point))  # example

(3, 5)

In [22]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

<class 'set'>

In [23]:
fruits = {"apple", "banana", "cherry"}
print((fruits))  # example

{'cherry', 'apple', 'banana'}

In [24]:
student = {"name": "Alice", "age": 21}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [25]:
student = {"name": "Alice", "age": 21}
print((student))  # example

{'name': 'Alice', 'age': 21}

In [26]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>

In [27]:
b = b"Hello"
print((b))  # example

b'Hello'

In [28]:
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

In [29]:
fs = frozenset([1, 2, 3])
print((fs))  # example

frozenset({1, 2, 3})

In [30]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

In [31]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print((od))  # example

OrderedDict({'apple': 1, 'banana': 2})

In [32]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

defaultdict(<class 'int'>, {'apple': 1})

In [33]:
from collections import Counter
c = Counter(["apple", "banana", "apple"])
print(c)  # Counter({'apple': 2, 'banana': 1})

Counter({'apple': 2, 'banana': 1})

In [34]:
from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)  # deque([2, 1])

deque([2, 1])

In [35]:
from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)  # MyDict({'apple': 1})

{'apple': 1}

In [36]:
from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)  # MyList([1])

[1]

In [37]:
x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

<class 'str'>

In [38]:
x = 10      # x is int
x = "ten"   # now x is str
print((x))  # example

ten

In [39]:
a = 5       # int
b = 2.0     # float
c = a + b   # int + float -> float
print(c)    # 7.0
print(type(c))  # <class 'float'>

7.0
<class 'float'>

In [40]:
a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

7

In [41]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(y)

3

In [42]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(type(y))  # example

<class 'int'>

In [43]:
a = 5
b = 2
print(a + b)  # TypeError: can only concatenate str (not "int") to str

7

In [44]:
print(int(a) + b)  # 7
print(a + int(b))  # "52"

7
7

In [45]:
s = "hello"
n = int(10)  # ValueError: invalid literal for int() with base 10: 'hello'

In [46]:
s = "abc"
try:
        n = int(s)
except ValueError:
        print("Cannot convert to int!")

Cannot convert to int!

In [47]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [48]:
print(5 > 2)   # True
print(5 == 2)  # False

True
False

In [49]:
x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

True
False

In [50]:
x = 10
x -= 5  # x = x - 5
print(x)  # 5

5

In [51]:
x = 10
x *= 5  # x = x * 5
print(x)  # 50

50

In [52]:
x = 10
x /= 5  # x = x / 5
print(x)  # 2

2.0

In [53]:
x = 10
x //= 5  # x = x // 5
print(x)  # 2

2

In [54]:
x = 10
x %= 5  # x = x % 5
print(x)  # 0

0

In [55]:
x = 10
x **= 5  # x = x ** 5
print(x)  # 100000

100000

In [56]:
x = 10
x &= 5  # x = x & 5
print(x)  # 0

0

In [57]:
x = 10
x |= 5  # x = x | 5
print(x)  # 15

15

In [58]:
x = 10
x ^= 5  # x = x ^ 5
print(x)  # 15

15

In [59]:
x = 10
x >>= 5  # x = x >> 5
print(x)  # 0

0

In [60]:
x = 10
x <<= 5  # x = x << 5
print(x)  # 320

320

In [61]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [62]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True